
<ion-content padding>
    <div padding text-center item-text>
        <ion-item text-center item-text style="width: 60%">
          <h1 style="color: white">Permissions</h1>
          <ion-icon name="unlock" style="color: white"></ion-icon>
        </ion-item>
      </div>

      <div padding>
          <ion-button size="large" href="#" expand="block" color="dark" >ADD PERMISSION</ion-button>
      </div>
      <div padding>
          <ion-button size="large" href="#" expand="block" color="dark" >REVOKE PERMISSION</ion-button>
      </div>

      <div padding>
          <ion-button size="large" href="#" expand="block" color="dark" >PERMISSION CODE</ion-button>
      </div>
</ion-content>
