
<ion-content padding>
        <div padding text-center item-text style="display: flex;  justify-content: center;  align-items: center; padding-top: 45px">
            <ion-label class="title">Permissons</ion-label>
            <ion-icon name="unlock"></ion-icon>
        </div>

      <div padding>
          <ion-button size="default" href="/tab/(permissions:addpermission)" expand="block">ADD PERMISSION</ion-button>
      </div>
      <div padding>
          <ion-button size="default" href="/tab/(permissions:revokepermission)" expand="block">REVOKE PERMISSION</ion-button>
      </div>

      <div padding>
          <ion-button size="default" href="/tab/(permissions:permissioncode)" expand="block">PERMISSION CODE</ion-button>
      </div>
</ion-content>
