
<ion-content padding >
    <ion-grid>
        <ion-row >
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                <div text-center item-center>
                  <ion-img  style="width: 50px; height: 50px; object-fit: contain; margin: auto" src="www/assets/icon/icon.png"></ion-img>
                  <h4 style="color:white">Deep Personality</h4>
                </div>
                <div padding>
                  <ion-label style="color:white">Email</ion-label>
                  <ion-item>
                    <ion-input type="email" [(ngModel)]="email" placeholder="Email"></ion-input>
                  </ion-item>
                </div> 
                <div padding>
                  <ion-label style="color:white">Username</ion-label>
                  <ion-item>
                    <ion-input type="text" [(ngModel)]="username" placeholder="Username"></ion-input>
                  </ion-item>
                </div>  
                <div padding>
                  <ion-label style="color:white; margin-top: 10px">Password</ion-label>
                  <ion-item>
                    <ion-input type="password" [(ngModel)]="password" placeholder="Password"></ion-input>
                  </ion-item>
                </div>
                <div padding>
                    <ion-label style="color:white; margin-top: 10px">Confirm Password</ion-label>
                    <ion-item>
                      <ion-input type="password" [(ngModel)]="confirm_password" placeholder="Confirm Password"></ion-input>
                    </ion-item>
                </div>

              
                
                <div padding>
                  <ion-button size="large" (click)="signup()" expand="block" color="light" >Sign Up</ion-button>
                </div>

               
              </ion-col>

        </ion-row>
    </ion-grid>