/node_modules
/plugins
/platforms
/platforms/ios
/platforms/browser
/platforms/android/.gradle
/platforms/android/.idea
/platforms/android/cordova
/platforms/android/CordovaLib
/platforms/android/build
/platforms/android/app/build
/platforms/android/app/src/main/assets
/platforms/android/app/src/main/java
/platforms/android/app/src/main/libs
/platforms/android/app/src/main/res
/platforms/android/platform_www
/resources
/www