<ion-content padding>
  <div padding text-center item-text style="display: flex;  justify-content: center;  align-items: center; padding-top: 45px">
      <ion-label class="title">Comparison</ion-label>
      <ion-icon class="title_icon" name="md-text"></ion-icon>
  </div>

  <div padding-top>
    <ion-segment [(ngModel)]="viewMode">
      <ion-segment-button value="date">
        <ion-label>DATE SHARED</ion-label>

      </ion-segment-button>
      <ion-segment-button value="alphabet">
        <ion-label>ALPHABET</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

<div *ngIf="viewMode == 'date'" padding-top style="border-radius: 10px">
  <ion-list>
    <ion-item 
      *ngFor='let user of this.all_compares; let i = index'
      [href]="'/tab/(comparison:usercomparison/'+i"
      detail="true">
      <ion-label>{{user.name}}</ion-label>      
    </ion-item>
  </ion-list>
</div>

  <div *ngIf="viewMode === 'alphabet'" padding-top style="border-radius: 10px">
    <ion-list>
      <ion-item 
        *ngFor='let user of this.all_compares_sort; let i = index'
        [href]="'/tab/(comparison:usercomparison/'+i"
        detail="true">
        <ion-label>{{user.name}}</ion-label>      
      </ion-item>
    </ion-list>
  </div>
</ion-content>