<ion-content padding>
  <div padding text-center item-text style="display: flex;  justify-content: center;  align-items: center; padding-top: 45px">
      <ion-label style="font-size: 30px; color: white; font-weight: bold;">Comparison</ion-label>
      <ion-icon style="font-size: 42px; color: #C2F5FE;" name="md-person"></ion-icon>
  </div>

  <div padding-top>
    <ion-segment [(ngModel)]="viewMode">
      <ion-segment-button value="positive">
        <ion-label>DATE SHARED</ion-label>

      </ion-segment-button>
      <ion-segment-button value="negative">
        <ion-label>ALPHABET</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

<div *ngIf="viewMode !== 'negative'" padding-top style="border-radius: 10px">
  <ion-list>
    <ion-item
      href="/tab/(comparison:usercomparison)"
      detail="true">
      <ion-label>users-22</ion-label>      
    </ion-item>

    <ion-item
      href="/tab/(comparison:usercomparison)"
      detail="true">
      <ion-label>Britain</ion-label>      
    </ion-item>

    <ion-item
      href="/tab/(comparison:usercomparison)"
      detail="true">
      <ion-label>Het</ion-label>      
    </ion-item>
  </ion-list>
</div>

  <div *ngIf="viewMode === 'negative'" padding-top style="border-radius: 10px">
    <ion-list>
      <ion-item
        href="/tab/(comparison:usercomparison)"
        detail="true">
        <ion-label>user-22</ion-label>      
      </ion-item>

      <ion-item
        href="/tab/(comparison:usercomparison)"
        detail="true">
        <ion-label>admin</ion-label>      
      </ion-item>

      <ion-item
        href="/tab/(comparison:usercomparison)"
        detail="true">
        <ion-label>Jhon</ion-label>      
      </ion-item>
    </ion-list>
  </div>
</ion-content>