<ion-content padding>
    <div>
        <div padding text-center item-text style="display: flex;  justify-content: center;  align-items: center; padding-top: 15px">
            <div style="display: grid; text-align: right">  
                <ion-label class="title">Permissons</ion-label>
                <ion-label>revoke permisson</ion-label>
            </div>
            <ion-icon  class="title_icon" name="unlock"></ion-icon>
        </div>
        
        <div padding-top>
            <ion-segment [(ngModel)]="viewMode">
            <ion-segment-button value="date">
                <ion-label>DATE SHARED</ion-label>
        
            </ion-segment-button>
            <ion-segment-button value="alphabet">
                <ion-label>ALPHABET</ion-label>
            </ion-segment-button>
            </ion-segment>
        </div>

        <div *ngIf="viewMode === 'date'" padding-top style="border-radius: 10px">
            <ion-item expand="block"  *ngFor="let user of this.all_handshake;  let i = index">
                <ion-label>{{user.email}}</ion-label>
                <ion-select [(ngModel)]="user.ngmodel_1" (ionChange)="onSelectChange(user.name, user.ngmodel_1, i)">
                    <ion-select-option  
                        *ngFor="let trait_one of this.user.compare_traits;  let i = index" 
                        [value]="trait_one">{{trait_one}}</ion-select-option>
                </ion-select>
            </ion-item>

        </div>




        <div *ngIf="viewMode === 'alphabet'" padding-top style="border-radius: 10px">
            <ion-item expand="block" *ngFor="let user of this.all_handshake_sort;  let i = index">
                <ion-label>{{user.email}}</ion-label>
                <ion-select [(ngModel)]="user.ngmodel_2" (ionChange)="onSelectChange(user.name, user.ngmodel_2, i)">
                    <ion-select-option  
                        *ngFor="let trait of this.user.compare_traits;  let i = index" 
                        [value]="trait">{{trait}}</ion-select-option>
                </ion-select>
            </ion-item>
    
        </div>
    </div>
</ion-content>