<ion-content (swipe)="swipe($event)">
  <div padding text-center item-text style="display: flex;  justify-content: center;  align-items: center; padding-top: 45px">
    <ion-label style="font-size: 30px; color: white; font-weight: bold;">Question</ion-label>
    <ion-icon style="font-size: 42px; color: #C2F5FE;" name="md-help"></ion-icon>
</div>
  
  <div  text-center item-text 
       style="background-color: #353535;  width: 100%; height: 150px; padding: 65px 15px">
      <ion-label style="color: white; font-size: 21px; font-weight: bold;">{{question}}</ion-label>
      
      
      <div  text-center item-text style="margin-top: 40px;"  *ngIf="previous_button===true">
        <ion-button  
           style="font-size: 15px;
           font-weight: bold;
           margin: auto;
           --background: white;
           --background-activated: unset;
           color: #353535;"  (click)="previous_question()">previous question</ion-button>
      </div>
  </div>
 

  <div style="margin-top: 200px;">
    <ion-grid>
      <ion-row>
        <ion-col >
          <button   (click)="nextquestion('agree')" >Agree</button>
        </ion-col>
        <ion-col>
          <button (click)="nextquestion('neither')"  >Neither</button>
        </ion-col>
        <ion-col>
          <button  (click)="nextquestion('disagree')"  >Disagree</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  
</ion-content>
