// ion-content {
//     --ion-background-color: #2B2A2F;
// }

ion-item {
    --inner-border-width: 0px;
}
button {
    color: white;
    height: 100px;
    width: 32%;
    outline: unset;
    border-radius: 25px;
    font-size: 20px;
    font-weight: bold;
    background-color: #353535;
    margin: auto;
    :focus {
        background-color:#fafafa 
    }
}
