<ion-content >
  <div (swipe)="swipe($event)">
  <div padding text-center item-text style="display: flex;  justify-content: center;  align-items: center; padding-top: 45px">
    <ion-label class="title">Question</ion-label>
    <ion-icon class="title_icon" name="md-help"></ion-icon>
</div>
  
  <div  text-center item-text class="question_div">
      <ion-label style="color: white; font-size: 21px; font-weight: bold;">{{question}}</ion-label>
  </div>
  <div  text-center item-text style="margin-top: -15px; height: 20px; --background: unset; background: unset;" >
    <ion-button  *ngIf="previous_button===true" class = "previous_button" (click)="previous_question()">previous question</ion-button>
  </div>
 

  <div style="margin-top: 40%;">
    <ion-grid>
      <ion-row>
       
          <button  class="disagree_button" (click)="nextquestion('disagree')">Disagree</button>
      
          <button class="neither_button" (click)="nextquestion('neither')">Neither</button>
      
          <button  class="agree_button" (click)="nextquestion('agree')">Agree</button>
     
      </ion-row>
    </ion-grid>
  </div>
  </div>
</ion-content>
