<ion-content>
  <div padding>
      <div padding text-center item-text style="display: flex;  justify-content: center;  align-items: center; padding-top: 15px">
        <div style="display: grid; text-align: right">  
          <ion-label style="font-size: 30px; color: white; font-weight: bold;">Permissons</ion-label>
          <ion-label style="font-size: 12px; color: white; font-weight: bold;">add permisson</ion-label>
        </div>
          <ion-icon style="font-size: 42px; color: #C2F5FE;" name="unlock"></ion-icon>
      </div>

      <div padding text-center item-text style="background-color:#232227; border-radius: 10px">
          <div padding style="background-color: #454f63; border: 2px solid #2b2a2f; padding-top: 1px; padding-bottom: 0px; border-radius: 6px; text-align: left">
              <h6 stacked style="font-size: 10px; margin-top: 5px; margin-bottom: 1px; color: white; opacity: 0.5;">User's account name or email</h6>
              <ion-input type="email" placeholder="example@example.com" [(ngModel)] = "compare_email"
              style="font-size: 12px; color: white; font-weight: bold; --padding-top: 1px; --padding-bottom: 7px"></ion-input>
          </div>

          <div padding style="background-color: #454f63; border: 2px solid #2b2a2f; padding-top: 1px; padding-bottom: 0px; border-radius: 6px; text-align: left; margin-top: 20px">
              <h6 stacked style="font-size: 10px; margin-top: 5px; margin-bottom: 1px; color: white; opacity: 0.5;">Code</h6>
              <ion-input type="text" placeholder="code" [(ngModel)] = "compare_code"
              style="font-size: 12px; color: white; font-weight: bold; --padding-top: 1px; --padding-bottom: 7px"></ion-input>
          </div>

          <div padding>
            <ion-label style="font-size: 10px; padding-top: 10px; color: white; opacity: 1;">select the traits you would like to share</ion-label>
          </div>

          <div  style="flex: row" >
              <ion-row>
                  <ion-col col-4> 
                      <ion-button size="small" expand="block" color="dark" 
                      style="width: 93px; --height: 18px; --border-radius: 4px; font-size: 8px; --ion-color-base: #2b2a2f !important" >SORT BY ALPHABETA</ion-button>
                  </ion-col>
                
                  <ion-col col-8 style="display: inline-flex;">
                      <ion-button size="small" expand="block" color="dark" 
                        style="width: 79px; --height: 18px; font-size: 10px;  --border-radius: 4px; margin-right: 5px; --ion-color-base: #2b2a2f !important" >Select All</ion-button>
                      <ion-button size="small" expand="block" color="dark" 
                        style="width: 79px; --height: 18px; font-size: 10px;  --border-radius: 4px; --ion-color-base: #2b2a2f !important" >Deselect All</ion-button>
                  </ion-col>
              </ion-row>
          </div>
            <div style="margin-top: 10px; width: 100%; height: 2px; background-color: #3c3c3c91;">
            </div>
          <div style="margin-top: 20px;">
            <ion-row >
                <div *ngFor="let trait of this.all_traits;  let i = index"  style="margin: auto; margin-top: 5px" >
                    <ion-button size="small" expand="block" [color]= "trait.enable == true ? 'light' : 'dark'" 
                    (click)= "btnclick(i)"
                    style="width: 140px; --height: 30px; --border-radius: 4px; border:1px solid #2b2a2f; font-size: 12px; --margin-start: unset;" >{{trait.traits}}</ion-button>
                </div>
            </ion-row>
          </div>
        </div>
        <div padding-top>
          <ion-button size="default" (click)="save()" expand="block" color="dark" >DONE</ion-button>
        </div>
    
    </div>
  </ion-content>