<ion-content>
  <div padding>
      <div padding text-center item-text style="display: flex;  justify-content: center;  align-items: center; padding-top: 15px">
        <div style="display: grid; text-align: right">  
          <ion-label style="font-size: 30px; color: white; font-weight: bold;">Permissons</ion-label>
          <ion-label style="font-size: 12px; color: white; font-weight: bold;">add permisson</ion-label>
        </div>
          <ion-icon style="font-size: 42px; color: #C2F5FE;" name="unlock"></ion-icon>
      </div>

      <div padding text-center item-text style="background-color:#232227; border-radius: 10px">
          <div padding style="background-color: #677f9b; padding-top: 1px; padding-bottom: 0px; border-radius: 6px; text-align: left">
              <h6 stacked style="font-size: 10px; margin-top: 5px; margin-bottom: 1px; color: white; opacity: 0.5;">User's account name or email</h6>
              <ion-input type="email" placeholder="example@example.com" style="font-size: 12px; color: white; font-weight: bold; --padding-top: 1px; --padding-bottom: 7px"></ion-input>
          </div>

          <div padding style="background-color: #677f9b; padding-top: 1px; padding-bottom: 0px; border-radius: 6px; text-align: left; margin-top: 20px">
              <h6 stacked style="font-size: 10px; margin-top: 5px; margin-bottom: 1px; color: white; opacity: 0.5;">Code</h6>
              <ion-input type="email" placeholder="code" style="font-size: 12px; color: white; font-weight: bold; --padding-top: 1px; --padding-bottom: 7px"></ion-input>
          </div>

          <div padding>
            <ion-label style="font-size: 10px; margin-top: 20px; color: white; opacity: 0.7;">select the traits you would like to share</ion-label>
          </div>

          <div  style="flex: row" >
              <ion-row>
                  <ion-col col-6> 
                    <button ion-button color="secondary" class="my-width" large >
                      <b>Save</b>
                    </button>
                  </ion-col>
                
                  <ion-col col-6>
                    <button ion-button color="default" class="my-width" large>
                      <b>Clear</b>
                    </button>
                    <button ion-button color="default" class="my-width" large>
                        <b>Clear</b>
                      </button>
                  </ion-col>
                </ion-row>
                
          </div>

          <div>
            
          </div>
        </div>
    </div>
  </ion-content>