<ion-content>
  <div padding>
      <div padding text-center item-text style="display: flex;  justify-content: center;  align-items: center; padding-top: 15px">
        <div style="display: grid; text-align: right">  
          <ion-label class="title">Settings</ion-label>
          <ion-label>Demographics</ion-label>
        </div>
          <ion-icon class="title_icon" name="md-settings"></ion-icon>
      </div>
  </div>

  <div >
      <div padding>
          <ion-item expand="block" >
              <ion-label>YOUR AGE</ion-label>
              <ion-select [(ngModel)]="selected_age" class="ion_select_color">
                  <ion-select-option  *ngFor="let x of this.ages;  let i = index" [value]=index [selected]="selected">{{x}}</ion-select-option>
                  <!-- <ion-select-option value="no">NO</ion-select-option> -->
              </ion-select>
          </ion-item>

          <ion-item   expand="block">
              <ion-label>COUNTRY OF BIRTH</ion-label>
              <ion-select [(ngModel)]="selected_country" class="ion_select_color">
                  <ion-select-option *ngFor="let country of this.countries" [value] = "country.name" [selected]="selected" >{{country.name}}</ion-select-option>
              </ion-select>
          </ion-item>

          <ion-item   expand="block" >
              <ion-label>COUNTRY OF RESIDENCE</ion-label>
              <ion-select [(ngModel)]="selected_residence_country" class="ion_select_color">
                <ion-select-option *ngFor="let country of this.countries" [value] = "country.name" [selected]="selected" >{{country.name}}</ion-select-option>
              </ion-select>
          </ion-item>

          <ion-item  expand="block" >
              <ion-label>YOUR GENDER</ion-label>
              <ion-select [(ngModel)]="gender" class="ion_select_color">
                  <ion-select-option value="male">Male</ion-select-option>
                  <ion-select-option value="female">Female</ion-select-option>
              </ion-select>
          </ion-item>
      </div>

    <div padding>
      <ion-button (click)= "save()" size="default" expand="block"  >SAVE</ion-button>
    </div>
  </div>
</ion-content>