
<ion-content padding >
 
              <div text-center item-center>
                <ion-img  style="width: 50px; height: 50px; object-fit: contain; margin: auto" src="www/assets/icon/icon.png"></ion-img>
                <h6 style="color:white">Deep Personality</h6>
              </div>
              <div padding-top text-center >
                  <h1 style="color:white; font-weight: bold">Please,</h1><h5 style="color:white; font-weight: bold"> Enter some information</h5>
              </div>

              <div padding-top>
                  <ion-item expand="block" color="dark">
                      <ion-label>YOUR AGE</ion-label>
                      <ion-select [(ngModel)]="selected_age" >
                          <ion-select-option  *ngFor="let x of this.ages;  let i = index" [value]="x" [selected]="selected">{{x}}</ion-select-option>
                          <!-- <ion-select-option value="no">NO</ion-select-option> -->
                      </ion-select>
                  </ion-item>
              </div>
              <div padding-top>
                  <ion-item   expand="block" color="dark">
                          <ion-label>COUNTRY OF BIRTH</ion-label>
                          <ion-select [(ngModel)]="selected_country">
                              <ion-select-option *ngFor="let country of this.countries" [value] = "country.name" [selected]="selected" >{{country.name}}</ion-select-option>
                          </ion-select>
                  </ion-item>
              </div>
              <div padding-top>
                <ion-item   expand="block" color="dark">
                        <ion-label>COUNTRY OF RESIDENCE</ion-label>
                        <ion-select [(ngModel)]="selected_residence_country">
                            <ion-select-option *ngFor="let country of this.countries" [value] = "country.name" [selected]="selected" >{{country.name}}</ion-select-option>
                        </ion-select>
                </ion-item>
              </div>
              <div padding-top>
                <ion-item  expand="block" color="dark">
                    <ion-label>YOUR GENDER</ion-label>
                    <ion-select [(ngModel)]="gender">
                        <ion-select-option value="value1">Male</ion-select-option>
                        <ion-select-option value="value2">Female</ion-select-option>
                    </ion-select>
                </ion-item>
              </div>
            
              <div padding-top>
                  <ion-button *ngIf="batch!=='empty'" size="large" (click)="save()" expand="block" color="dark" >SAVE</ion-button>
              </div>

</ion-content>