
<ion-content padding >
    <ion-grid>
        <ion-row >
            <ion-col  size-md="6" size-lg="5" size-xs="12">
                <div text-center item-center>
                  <ion-img  style="width: 60px; height: 60px; object-fit: contain; margin: auto" src="/assets/icon/icon.png"></ion-img>
                  <h4 style="color:white">Deep Personality</h4>
                </div>
                <div style="width: 100%; height: 50px"></div>
                <div padding>
                  <ion-label style="color:white">Email</ion-label>
                  <ion-item class="login_item"> 
                    <ion-input type="text" [(ngModel)]="email" placeholder="Username"></ion-input>
                  </ion-item>
                </div>  
                <div padding>
                  <ion-label style="color:white; margin-top: 10px">Password</ion-label>
                  <ion-item class="login_item">
                    <ion-input type="password" [(ngModel)]="password" placeholder="Password"></ion-input>
                  </ion-item>
                </div>

                <div text-right>
                  <ion-label style="color:white; font-size: 10px" >Forgot password?</ion-label>
                </div>
                
                <div padding>
                  <ion-button size="default" (click)="login()" expand="block" color="light" >Login</ion-button>
                </div>

                <div  text-center>
                    <ion-label style="color:white; font-size: 10px" >or connect with</ion-label>
                </div>

                <div padding>
                    <ion-button size="default" href="#" expand="block" color="danger" >Google</ion-button>
                </div>
              </ion-col>

        </ion-row>
    </ion-grid>
</ion-content>
  