<ion-app>
  <div class={{themeClass}}>
  <ion-router-outlet></ion-router-outlet>
  </div>
</ion-app>

<script src="https://www.gstatic.com/firebasejs/5.5.9/firebase.js"></script>
<!-- <script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyDoLmR4cYxuEt2026yNazIX0G8Amjv_cFg",
    authDomain: "deep-personality.firebaseapp.com",
    databaseURL: "https://deep-personality.firebaseio.com",
    projectId: "deep-personality",
    storageBucket: "deep-personality.appspot.com",
    messagingSenderId: "893488855789"
  };
  firebase.initializeApp(config);
</script> -->