<ion-content padding>
    <div padding text-center item-text style="display: flex;  justify-content: center;  align-items: center; padding-top: 45px">
        <ion-label class="title">Permissons</ion-label>
        <ion-icon name="unlock"></ion-icon>
    </div>

    <div padding>
        <div padding color="dark" style="background-color: #232227;  border-radius: 10px; text-align: left; margin-top: 20px">
            <h2 stacked style="color: white; opacity: 1;">{{permission_code}}</h2>
            <h5 stacked style="font-size: 12px; margin-top: 5px; margin-bottom: 1px; color: white; opacity: 0.6;">your special code</h5>
        </div>
    </div>

    <div padding>
        <ion-button size="default" (click)="generate_code()" expand="block" >Generate Code</ion-button>
    </div>

</ion-content>
