
<ion-content padding >
    <ion-grid>
        <ion-row >
            <ion-col  size-md="6" size-lg="5" size-xs="12">
                <div text-center item-center>
                  <ion-img  style="width: 50px; height: 50px; object-fit: contain; margin: auto" src="www/assets/icon/icon.png"></ion-img>
                  <h6 style="color:white">Deep Personality</h6>
                </div>
                <div padding text-center >
                    <h5 style="color:white; font-weight: bold">Set some options before start</h5>
                </div>

                <div padding-top>
                    <ion-item expand="block" color="dark">
                        <ion-label>WITH NOTIFICATION</ion-label>
                        <ion-select [(ngModel)]="notification_action"  (ionChange)="onSelectChange($event)">
                            <ion-select-option value="enable">YES</ion-select-option>
                            <ion-select-option value="disable">NO</ion-select-option>
                        </ion-select>
                    </ion-item>
                </div>
                <div padding-top>
                    <ion-item  *ngIf="notification_action==='enable'" expand="block" color="dark">
                            <ion-label>NOTIFICATION SETTING</ion-label>
                            <ion-select [(ngModel)]="notification_type">
                                <ion-select-option value="casual">CASUAL</ion-select-option>
                                <ion-select-option value="custom">CUSTOM</ion-select-option>
                            </ion-select>
                    </ion-item>
                </div>
                <div padding-top>
                <ion-item  *ngIf="notification_action!==undefined" expand="block" color="dark">
                        <ion-label>SELECT A BATCH SIZE</ion-label>
                        <ion-select [(ngModel)]="batch_size">
                            <ion-select-option value="30">30</ion-select-option>
                            <ion-select-option value="50">50</ion-select-option>
                            <ion-select-option value="70">70</ion-select-option>
                        </ion-select>
                </ion-item>
                </div>
                <div padding-top>
                <ion-item  *ngIf="notification_type==='custom'&&notification_action==='enable'" expand="block" color="dark">
                    <ion-label>SELECT A FREQUENCY</ion-label>
                    <ion-select [(ngModel)]="frequency">
                        <ion-select-option value="1">1</ion-select-option>
                        <ion-select-option value="2">2</ion-select-option>
                        <ion-select-option value="3">3</ion-select-option>
                        <ion-select-option value="4">4</ion-select-option>
                        <ion-select-option value="5">5</ion-select-option>
                        <ion-select-option value="6">6</ion-select-option>
                        <ion-select-option value="7">7</ion-select-option>
                        <ion-select-option value="8">8</ion-select-option>
                    </ion-select>
                </ion-item>
                </div>
                <div padding-top>
                <ion-item  *ngIf="notification_type==='custom'&&notification_action==='enable'" expand="block" color="dark">
                    <ion-label>SELECT START TIME OF DAY</ion-label>
                    <ion-datetime displayFormat="HH:mm A" [(ngModel)]="start_time"></ion-datetime>
                </ion-item>
                </div>
                <div padding-top>
                    <ion-item  *ngIf="notification_type==='custom'&&notification_action==='enable'" expand="block" color="dark">
                        <ion-label>SELECT END TIME OF DAY</ion-label>
                        <ion-datetime displayFormat="H:mm A" [(ngModel)]="end_time"></ion-datetime>
                    </ion-item>
                </div>

                <div padding-top>
                    <ion-button *ngIf="batch_size!==undefined" (click)= "save()" size="large" expand="block" color="dark" >SAVE</ion-button>
                </div>

              </ion-col>

        </ion-row>
    </ion-grid>