<ion-content >
    <div padding>
    <div padding text-center item-text style="display: flex;  justify-content: center;  align-items: center; padding-top: 45px">
        <ion-label class="title">Profile</ion-label>
        <ion-icon name="md-person"></ion-icon>
    </div>

    <div padding-top>
      <ion-segment [(ngModel)]="viewMode">
        <ion-segment-button value="positive">
          <ion-label>Most Positive</ion-label>

        </ion-segment-button>
        <ion-segment-button value="negative">
          <ion-label>Most Negative</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>

    <div *ngIf="viewMode === 'positive'" padding-top style="border-radius: 10px">
        <div>
            <ion-item expand="block">
                <ion-label style="font-size: 14px">TRAIT</ion-label>
                <h6 style="margin-right: 10px; font-size: 14px" class="cs_text">CS</h6>
                <h6 style="margin-right: 10px; font-size: 14px;  border-radius: 4px; --inner-padding-top: 0px;" class="percent_text">PERCENT</h6>
            </ion-item>

            <!-- <ion-item expand="block" color="dark" style="">
                <ion-label>Happiness</ion-label>
                <h6 style="margin-right: 10px;">12cs</h6>
                <h6 style="margin-right: 10px; padding: 3px;  background-color: black; border-radius: 4px;">12%</h6>
            </ion-item> -->

            <ion-item expand="block" style="" *ngFor="let x of this.positive_cs;  let i = index" >
                <ion-label>{{x.trait_name}}</ion-label>
                <h6 style="margin-right: 10px;" class="cs_text">{{x.cs}} CS</h6>
                <h6 style="margin-right: 10px; padding: 3px; font-size: 14px; border-radius: 4px;" class="percent_text">{{x.percent}}%</h6>
            </ion-item>
        </div>
    </div>

    <div *ngIf="viewMode === 'negative'" padding-top style="border-radius: 10px">
        <div>
            <ion-item expand="block" >
                <ion-label style="font-size: 14px" >TRAIT</ion-label>
                <h6 style="margin-right: 10px; font-size: 14px" class="cs_text">CS</h6>
                <h6 style="margin-right: 10px; font-size: 14px; border-radius: 4px; --inner-padding-top: 0px;" class="percent_text">PERCENT</h6>
            </ion-item>

            <ion-item expand="block" *ngFor="let x of this.negative_cs;  let i = index" >
                <ion-label>{{x.trait_name}}</ion-label>
                <h6 style="margin-right: 10px;" class="cs_text">{{x.cs}}</h6>
                <h6 style="margin-right: 10px; padding: 3px; font-size: 14px; border-radius: 4px;" class="percent_text">{{x.percent}}%</h6>
            </ion-item>
        </div>
    </div>
 </div>

</ion-content>