ion-content {
    --ion-background-color: #2B2A2F;
}

ion-segment-button {
    // --btn-background: #2B2A2F;
    // --btn-border-color: white;
}
ion-segment {
    --background-checked: white;
    --color: white;
    --color-checked: #2B2A2F;
    --border-color-checked: white;
}