
<ion-content padding>
  <div padding text-center item-text style="display: flex;  justify-content: center;  align-items: center; padding-top: 15px">
      <ion-label style="font-size: 30px; color: white; font-weight: bold;">Settings </ion-label>
      <ion-icon style="font-size: 42px; color: #C2F5FE;" name="md-settings"></ion-icon>
  </div>

    <div padding>
        <ion-button size="default" href="/tab/(settings:notification)" expand="block" color="dark" >NOTIFICATION</ion-button>
   
        <ion-button size="default" href="/tab/(settings:demographics)" expand="block" color="dark" >DEMOGRAPHICS</ion-button>
    </div>

    <div padding>
        <ion-segment [(ngModel)]="swipe">
            <ion-segment-button value="enable">
                <ion-label>ENABLE SWIPE</ion-label>
            </ion-segment-button>
            
            <ion-segment-button value="disable">
                <ion-label>ENABLE BUTTON</ion-label>
            </ion-segment-button>
        </ion-segment>
    </div>
    <div padding>
        <ion-segment [(ngModel)]="theme_action">
            <ion-segment-button value="static">
                <ion-label>STATIC THEME</ion-label>
            </ion-segment-button>
            
            <ion-segment-button value="dynamic">
                <ion-label>DYNAMIC THEME</ion-label>
            </ion-segment-button>
        </ion-segment>
    </div>

    <div padding>
        <ion-segment [(ngModel)]="theme_color">
            <ion-segment-button value="light">
                <ion-label>LIGHT THEME</ion-label>
            </ion-segment-button>
            
            <ion-segment-button value="dark">
                <ion-label>DARK THEME</ion-label>
            </ion-segment-button>
        </ion-segment>
    </div>

    <div padding>
        <ion-button size="default" expand="block" color="dark" (click)="save()">SAVE</ion-button>
    </div>
</ion-content>
